@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+27px');

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: .8rem;
}

p {
  margin: 1rem 0;
}

.namespace-section {
  margin: 1em 0;
}