<include("../../shared/layout/default")>
    <@body>
        <h1>This is Home page</h1>
        <h2>Sub Title</h2>
        <h3>Client Template</h3>
        <div class="client-template__container"></div>
        <script src="/home-bundle.js"></script>
    </@body>
</include>
