body {

}

h2 {

}

h3 {

}

a {
  color: #46A097;
}

a:hover {
  color: #46A097;
}

/* Layout */
.navbar-fixed-bottom-layer {
  height: 40px; 
}
@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px){

}
footer {
  margin-top: 100px;
}

/* _share */
.hero-unit {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.hero-unit:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.page-title h5,
.page-title .h5 {
  text-transform: uppercase;
  font-weight: 700;
}

.page-title .navbar-right {
  margin-right: 0px;
}

/* 404 Page */
.fourofour-hero-unit {
  background-image: url("../img/404.jpg");
}

/* Front Page */
.front-hero-unit {
  background-image: url("../img/bg.jpg");
}

/* Blogs */
.blogs-hero-unit {
  background-image: url("../img/blogs-bg.jpg");
}

.blogs-item {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blogs-item-date {
  margin: 0px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c0c0c0;
}

.blogs-item-title {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blog-hero-unit {
  margin-top: 50px;
}

.blog-item {
  margin-top: 100px;
}

.blog-content {
  margin-top: 100px; font-size: 18px
}

.blog-item-tags a {
  color: #7b7b7b;
}


/* Media Query */






