/* == Variables == */
$theme-color-default = #199bc9
$theme-color-secondary = #2d84ba
$theme-font-size = 16px
$px = (1/$theme-font-size)rem

/* == Reset == */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary 
    margin 0
    padding 0
    border 0
    font-size 100%
    vertical-align baseline
    background transparent
                                   
html 
  overflow-y scroll

 
article, aside, figure, footer, header, hgroup, nav, section, details, summary 
    display block

 
img, object, embed 
    max-width 100%

 
input, select 
    vertical-align middle

 
.clickable, label, input[type=button], input[type=submit], input[type=file], button 
    cursor pointer

/* == Global == */
html, body
  width 100%
  height 100%
  
svg 
  path
    stroke #fff
    stroke-width 2px
    fill transparent
  line
    stroke #fff
    stroke-width 2px
  polyline
    stroke #fff
    stroke-width 2px

.vmid-parent
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  transform-style preserve-3d

.vmid
  position relative
  top 50%
  transform translateY(-50%)
    
/* == Share == */
.rendered-body
  height 100%

/* == Front == */
.gyosun-logo
  background $theme-color-default
  height 100%
  text-align center

.gyosun-logo-wrapper
  top 20%
  

  




