/* == Variables == */
$theme-color-default = #199bc9
$theme-color-secondary = #2d84ba
$theme-font-size = 16px
$px = (1/$theme-font-size)rem

/* == Reset == */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary 
    margin 0
    padding 0
    border 0
    font-size 100%
    vertical-align baseline
    background transparent
                                   
html 
  overflow-y scroll

article, aside, figure, footer, header, hgroup, nav, section, details, summary 
    display block
 
img, object, embed 
    max-width 100%
 
input, select 
    vertical-align middle
 
.clickable, label, input[type=button], input[type=submit], input[type=file], button 
    cursor pointer


/* == Global == */
svg 
  path
    stroke #fff
    stroke-width 2px
    fill transparent
  line
    stroke #fff
    stroke-width 2px
  polyline
    stroke #fff
    stroke-width 2px
    

/* == Share == */
.application 
  overflow-x hidden
    
.main-area
  background $theme-color-default
  width 100%
  position relative
  z-index 1

.rendered-nav 
  height 100%
  overflow-y auto
  position fixed
  top 0
  z-index 0
  background-color #d33565
  transform translate(-250px)

.show-nav .main-area
  transform translateX(250px)

.show-nav .rendered-nav 
  transform translateX(0px)

.show-nav .rendered-nav 
  display block

.rendered-nav, .main-area
    transition transform 400ms ease

.rendered-nav 
  width 250px

.show-menu
  top 0
  left 0
      
      
/* == Front == */
.gyosun-logo
  height: 100vh;
  text-align center

  

  




