<include("../_layout/default")>
    <@body>
        <h1>I'm Home!</h1>
        <h2>Sub Title!</h2>
        <h3>h3!</h3>
        <div>
        Hello ${input.name}
        </div>
        <h4>Hello ${input.name}</h4>
        <script src="/home-bundle.0fdd61d8e8232a689eb7.js"></script>
    </@body>
</include>
