<include("../_layout/default")>
    <@body>
        <h1>I'm Home!</h1>
        <h2>Sub Title!</h2>
        <h3>h3!s!s!asdsdfsda</h3>
        <div>
        <!-- Hello ${input.name} -->
        </div>
        <!-- <h4>Hello ${haha.name}</h4> -->
        <script src="{process.env.BROWSER_REFRESH_URL}"></script>
        <script src="/home-bundle.js"></script>
    </@body>
</include>
