<for(movie in input.movies)>
    <span class="movie-list__item">
        <img src="./poster_default_redesign.jpg" />
        <h4 class="movie-list__item-title">${ movie.title }</h4>
        <p class="movie-list__item-genre">Genre: ${ movie.genre }</p>
        <p class="movie-list__item-release-date">Release Data: ${ movie.release_date }</p>
    </span>
</for>